@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" underline="true"/>
                            <#input id="pid" name="父id" underline="true"/>
                            <#input id="name" name="课程分类名" underline="true"/>
                            <#input id="key" name="课程分类编码"/>
                </div>

                <div class="col-sm-6">
                            <#input id="code" name="课程分类编号" underline="true"/>
                            <#input id="sort" name="排序" underline="true"/>
                            <#input id="status" name="状态(0 禁用 1 启用)" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SubjectCateoryInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SubjectCateoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/calligraphy/subjectCateory/subjectCateory_info.js"></script>
@}
